@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<h2>Duyurular</h2>

<br />

<table class="table table-bordered">

    <tr>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Güncelle </th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.KATEGORI == "Diğer")
        {
            renk = "bg-info text-white";
        }
        if (item.KATEGORI == "Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if (item.KATEGORI == "İletişim")
        {
            renk = "bg-success text-white";
        }
        if (item.KATEGORI == "Kitapları Geciktirmeyin")
        {
            renk = "bg-danger text-white";
        }

        <tr class="@renk">
            <td >@item.KATEGORI</td>
            <td>@Convert.ToDateTime(item.TARIH).ToString("dd.MM.yyyy")</td>
            <td><a href="/Duyuru/Sil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Duyuru/DuyuruDetay/@item.ID" class="btn btn-primary" style="background-color:lightcoral">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>

