@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Mesajlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.GONDEREN</td>
            <td>@item.KONU</td>
            <td>@item.ICERIK</td>
            <td>@item.TARIH</td>
        </tr>
    }

</table>