@using MvcKutuphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

@using (Html.BeginForm("Index", "Yazar", FormMethod.Get))
{
    <div style="margin:15px;">
        <b>Aranacak Yazar Adını Girin</b>
        @Html.TextBox("p")
        <input type="submit" class="btn btn-primary" value="Ara" />


    </div>
}

<table class="table table-striped">
    <tr style="background-color:orange">
        <th style="background-color:orange">Yazar Adı</th>
        <th style="background-color:orange">Yazar Soyadı</th>
        <th style="background-color:orange">Yazar Güncelle</th>
        <th style="background-color:orange">Yazar Sil</th>
        <th style="background-color:orange">Yazar Sil</th>
       

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AD</td>
            <td>@item.SOYAD</td>
            <td><a href="/Yazar/YazarGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Yazar/YazarKitapGoruntule/@item.ID" class="btn btn-primary">Yazarın Kitaplarını Görüntüle</a></td>
            <td><a href="/Yazar/YazarSil/@item.ID" class="btn btn-danger">Sil</a></td>
           
        </tr>

    }


</table>
<a href="/Yazar/YazarEkle/" class="btn btn-success">Yeni Yazar Ekle</a>
<br />
<br />