@using MvcKutuphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar Güncelleme Sayfası</h2>

<form method="post">
    @foreach (var item in Model)
    {
        <div style="margin-top:15px;">
            <label>Yazar Adı</label>
            <input type="text" class="form-control" name="AD" value="@item.AD" />

        </div>

        <div style="margin-top:15px;">
            <label>Yazar Soyadı</label>
            <input type="text" class="form-control" name="SOYAD" value="@item.SOYAD" />

        </div>
        <div style="margin-top:15px;">
            <label>Yazar Detayları</label>
            <input type="text" class="form-control" name="DETAY" value="@item.DETAY" />

        </div>
    }
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>


</form>
