@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>
<br />
<form method="get" action="/Personel/PersonelEkle">
    <table class="table table-bordered">

        <tr>
            <th>Personel Adı</th>
            <th>Güncelle </th>
            <th>Sil </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PERSONEL</td>
                <td><a href="/Personel/PersonelGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Personel/Sil/@item.ID" class="btn btn-danger">Sil</a></td>
            </tr>
        }



    </table>
    <button type="submit" class="btn btn-success" >Yeni Personel Ekle</button>
</form>
