@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelEkle</h2>

<form method="post">

    <div style="margin-top:15px;">

        <label>Personel Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.PERSONEL, new { @class = "Form-control" })
        @Html.ValidationMessageFor(x=>x.PERSONEL,"",new { @style = "color:red" })

    </div>

    <br />
    <br />
    <br />
    <button class="btn btn-success">Personel Ekle</button>
</form>