@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelGetir</h2>

<form method="post">
    @foreach (var item in Model)
    {
        <div style="margin-top:15px;">
            <label>Yazar Adı</label>
            <input type="text" class="form-control" name="PERSONEL" value="@item.PERSONEL" />

        </div>

    }
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>


</form>
